:root {
    --accent-color: #C7C7C7;
        --main-color:#FFF;
        --add-color:#959595;
        --main-bd-color:#8E32C6;
}
body {
    font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding: 0;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    padding-top: 30px;
    padding-bottom: 33px;
    background: #012D63;
}
.logo {
    margin-right: 152px;
}
.nav-list {
    gap: 29px;
}
.nav-link {
    color: var(--accent-color);
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
        text-decoration: none;
        display: flex;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--main-color);
    cursor: pointer;
    font-weight: 400;
}
.btn-language {
    color: #DCDCDC;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    background: #012D63;
    border: none;
}
.btn-language:hover,
.btn-language:focus {
    color: var(--main-color);
    cursor: pointer;
    font-weight: 400;
}
.div,.nav-list,.language-changer {
    display: flex;
    align-items: center;
    
}
.language-changer {
    margin-left: auto;
}
.hero {
    background: url(../image/fon_3_jpg.jpg);
    background-size: cover;
}
.hero-information {
    padding: 0;
    padding-bottom: 183px;
    padding-top: 94px;
}
.logo-nike {
    width: 160px;
}
.hero-subtitle {
    color: #FFF;
        font-family: PT Serif;
        font-size: 48px;
        line-height: normal;
        margin-left: 17px;
        margin-top: -15px;
}
.hero-bigtitle {
    color: #FFF;
        font-family: Playfair Display;
        font-size: 144px;
        font-weight: 400;
        line-height: normal;
        margin-left: -15px;
            margin-top: -20px;
}
.hero-title {
    color: #FFF;
        font-family: Playfair Display;
        font-size: 72px;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        margin-top: -35px;
}
.hero-text {
    color: #FFF;
        font-size: 18px;
        line-height: normal;
        margin-top: 12px;
}
.hero-btn {
    color: #FFF;
        font-size: 24px;
        line-height: normal;
        border-radius: 10px;
        background: #8E32C6;
        padding: 20px 61px 19px;
        margin-top: 41px;
}
.hero-subtitle::before {
    content: '';
    width: 160px;
    height: 120px;
}
.advantages {
    background: url(../image/fon_2_jpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 105px 0;
}
.advantages-list {
    display: flex;
    border: 5px solid var(--main-bd-color);
    align-items: center;
}
.advantages-title {
    color: #FFF;
        text-align: center;
        font-family: Playfair Display;
        font-size: 36px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 5px;
}
.advantages-item {
    padding: 25px 50px 25px 50px;
    align-items: center;
}
.advantages-item:nth-child(2) {
    padding: 25px 95px 19px 95px;
    border-right: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    height: 346px;
}
.advantages-item:nth-child(2) .advantages-title {
    margin-top: 10px;
}
.reviews {
    background-image: url(../image/flowers_png.png),
    url(../image/fon_1_jpg.jpg);
    background-position: bottom left, center;
    background-repeat: no-repeat;
    background-size: 226px 380px, cover;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding-top: 24px;
    padding-bottom: 114px;
}

.rewievs-title {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}

.reviews-item {
    border-radius: 15px;
    padding-top: 49px;
    padding-bottom: 29px;
    flex-basis: 255px;
}

.reviews-list {
    display: flex;
    gap: 93px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}

.reviews-item:nth-child(1) {
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
    padding-left: 13px;
    padding-right: 14px;
}

.reviews-item:nth-child(2) {
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
    padding-left: 18px;
    padding-right: 9px;
}

.reviews-item:nth-child(3) {
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
    padding-left: 18px;
    padding-right: 9px;
}

.reviews-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.soledar {
    margin-top: 47px;
    display: flex;
}

.date {
    color: #D8D8D8;
    font-size: 14px;
    line-height: normal;
    margin-top: 8px;
}

.reviews-img {
    border-radius: 50%;
}

.reviewer-name {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}

.reviews-registration-date {
    color: #D8D8D8;
    font-size: 12px;
    line-height: normal;
    margin-left: 5px;
}
.order {
    background-image: url(../image/fon_4_jpg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 37px;
}

.order-title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}

.form-wrapper {
    position: relative;
}

.order-input {
    width: 580px;
    height: 50px;
    color: var(--add-color);
    font-size: 28px;
    padding: 11px 24px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.order-input:hover,.order-input:focus {
    transform: scale(1.2)
}

.form-button {
    color: #8D8D8D;
    font-size: 28px;
    line-height: normal;
    background: none;
    border: none;
    position: absolute;
    text-align: center;
    top: 7.8px;
    right: 50px;
}

.order-input:focus.form-button {
    top: 13.16px;
    right: 78.57px;
    cursor: pointer;
}

.order-btn {
    padding: 20px 48px;
    color: #FFF;
    font-size: 24px;
    line-height: normal;
    border: none;
    border-radius: 16px;
    background: #8E32C6;
}
.order-btn:hover {
    cursor: pointer;
}